SetUpBasic.Cmdlet/.vs/**
SetUpBasic.Cmdlet/SetUpBasic.Cmdlet.MSTest/bin/**
SetUpBasic.Cmdlet/SetUpBasic.Cmdlet.MSTest/obj/**
SetUpBasic.Cmdlet/SetUpBasic.Cmdlet/bin/**
SetUpBasic.Cmdlet/SetUpBasic.Cmdlet/obj/**
/CoreePower.Net/.vs
/CoreePower.Net/src/CoreePower.Net/obj
/CoreePower.Net/src/CoreePower.Net.MSTest/obj
/CoreePower.Net/SetUpBasic.Cmdlet.MSTest/bin
/CoreePower.Net/SetUpBasic.Cmdlet.MSTest/obj
/CoreePower.Net/SetUpBasic.Cmdlet/bin
/CoreePower.Net/SetUpBasic.Cmdlet/obj
/CoreePower.Net/SetUpBasic.Cmdlet/Properties/PublishProfiles
/CoreePower.Net/src/CoreePower.Net.MSTest/bin
/CoreePower.Net/src/CoreePower.Net.MSTest/obj
/CoreePower.Net/src/CoreePower.Net/bin/Debug/
/CoreePower.Net/src/CoreePower.Net/obj
