/CoreePower.Net/.vs
/CoreePower.Net/TestResults
/CoreePower.Net/Report
/CoreePower.Net/src/CoreePower.Net/obj
/CoreePower.Net/src/CoreePower.Net/bin
/CoreePower.Net/src/CoreePower.Net.MSTest/bin
/CoreePower.Net/src/CoreePower.Net.MSTest/obj
/CoreePower.Net/src/TestResults
/CoreePower.Net/src/CoreePower.Net.MSTest/TestResults

base/workspace/source/CoreePower.Net/src/CoreePower.Net.MSTest/bin
base/workspace/source/CoreePower.Net/src/CoreePower.Net.MSTest/obj
base/workspace/source/CoreePower.Net/.vs
base/workspace/source/CoreePower.Net/src/CoreePower.Net/bin
base/workspace/source/CoreePower.Net/src/CoreePower.Net/obj
base/workspace/source/CoreePower.Net/TestResults
base/workspace/source/CoreePower.Net/Report
